USE [IlkWebSitemDB]
GO
/****** Object:  Table [dbo].[Haberler]    Script Date: 12/26/2025 9:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Haberler](
	[HaberID] [int] IDENTITY(1,1) NOT NULL,
	[HaberBaslik] [nvarchar](max) NULL,
	[HaberOzet] [nvarchar](max) NULL,
	[HaberDetay] [nvarchar](max) NULL,
	[HaberResim] [nvarchar](max) NULL,
 CONSTRAINT [PK_Haberler] PRIMARY KEY CLUSTERED 
(
	[HaberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 12/26/2025 9:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[HakkimizdaID] [int] IDENTITY(1,1) NOT NULL,
	[HakkimizdaBaslik] [nvarchar](max) NULL,
	[HakkimizdaDetay] [nvarchar](max) NULL,
 CONSTRAINT [PK_Hakkimizda] PRIMARY KEY CLUSTERED 
(
	[HakkimizdaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 12/26/2025 9:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[IletisimID] [int] IDENTITY(1,1) NOT NULL,
	[SirketAdi] [nvarchar](max) NULL,
	[SirketTelefonu] [nvarchar](max) NULL,
	[SirketMail] [nvarchar](max) NULL,
	[SirketFax] [nvarchar](max) NULL,
	[SirketAdres] [nvarchar](max) NULL,
 CONSTRAINT [PK_Iletisim] PRIMARY KEY CLUSTERED 
(
	[IletisimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlar]    Script Date: 12/26/2025 9:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlar](
	[MesajID] [int] NOT NULL,
	[MesajBaslik] [nvarchar](max) NULL,
	[MesajDetay] [nvarchar](max) NULL,
	[MesajTarih] [nvarchar](max) NULL,
	[KisiMail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mesajlar] PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referanslar]    Script Date: 12/26/2025 9:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referanslar](
	[ReferansID] [int] IDENTITY(1,1) NOT NULL,
	[ReferansAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_Referanslar] PRIMARY KEY CLUSTERED 
(
	[ReferansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 12/26/2025 9:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](max) NULL,
	[UrunFiyati] [nvarchar](max) NULL,
	[UrunDetay] [nvarchar](max) NULL,
	[UrunResmi] [nvarchar](max) NULL,
	[UrunDurum] [bit] NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Haberler] ON 

INSERT [dbo].[Haberler] ([HaberID], [HaberBaslik], [HaberOzet], [HaberDetay], [HaberResim]) VALUES (1, N'Yeni Dönem Kayıtları Başladı', N'2025-2026 eğitim dönemi kayıtlarımız başlamıştır.', N'ABC Eğitim Kurumu olarak yeni dönem için tüm seviyelerde kayıtlarımız başlamıştır.', N'kayitlar.jpg')
INSERT [dbo].[Haberler] ([HaberID], [HaberBaslik], [HaberOzet], [HaberDetay], [HaberResim]) VALUES (2, N'Ücretsiz Deneme Dersleri', N'Öğrencilerimize ücretsiz deneme dersleri sunuyoruz.', N'Alanında uzman eğitmenlerimizle ücretsiz deneme derslerine katılabilirsiniz.', N'deneme.jpg')
INSERT [dbo].[Haberler] ([HaberID], [HaberBaslik], [HaberOzet], [HaberDetay], [HaberResim]) VALUES (3, N'Başarı Semineri Düzenlendi', N'Öğrencilerimize yönelik motivasyon semineri gerçekleştirildi.', N'Eğitim koçlarımız tarafından başarı ve hedef belirleme semineri düzenlenmiştir.', N'seminer.jpg')
SET IDENTITY_INSERT [dbo].[Haberler] OFF
GO
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

INSERT [dbo].[Hakkimizda] ([HakkimizdaID], [HakkimizdaBaslik], [HakkimizdaDetay]) VALUES (1, N'Biz Kimiz', N'ABC Eğitim Kurumu, bireylerin akademik ve kişisel gelişimini desteklemek amacıyla kurulmuş yenilikçi bir eğitim kuruluşudur.')
INSERT [dbo].[Hakkimizda] ([HakkimizdaID], [HakkimizdaBaslik], [HakkimizdaDetay]) VALUES (2, N'Misyonumuz', N'Öğrencilerimize çağdaş, kaliteli ve sürdürülebilir eğitim çözümleri sunarak geleceğe hazırlamak.')
INSERT [dbo].[Hakkimizda] ([HakkimizdaID], [HakkimizdaBaslik], [HakkimizdaDetay]) VALUES (3, N'Vizyonumuz', N'Eğitim alanında öncü, güvenilir ve uluslararası standartlarda bir marka olmak.')
SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
GO
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([IletisimID], [SirketAdi], [SirketTelefonu], [SirketMail], [SirketFax], [SirketAdres]) VALUES (1, N'ABC Eğitim Kurumu', N'0212 555 10 10', N'info@abcegitim.com', N'0212 555 10 11', N'Merkez Mah. Eğitim Sk. No:10 İstanbul')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
GO
SET IDENTITY_INSERT [dbo].[Referanslar] ON 

INSERT [dbo].[Referanslar] ([ReferansID], [ReferansAdi]) VALUES (1, N'Milli Eğitim Bakanlığı')
INSERT [dbo].[Referanslar] ([ReferansID], [ReferansAdi]) VALUES (2, N'XYZ Anadolu Lisesi')
INSERT [dbo].[Referanslar] ([ReferansID], [ReferansAdi]) VALUES (3, N'Özel Başarı Koleji')
SET IDENTITY_INSERT [dbo].[Referanslar] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [UrunFiyati], [UrunDetay], [UrunResmi], [UrunDurum]) VALUES (1, N'TYT-AYT Hazırlık Kursu', N'15000', N'Üniversite sınavına yönelik kapsamlı hazırlık programı.', N'tyt_ayt.jpg', 1)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [UrunFiyati], [UrunDetay], [UrunResmi], [UrunDurum]) VALUES (2, N'LGS Hazırlık Kursu', N'12000', N'LGS sınavına hazırlık için özel eğitim programı.', N'lgs.jpg', 1)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [UrunFiyati], [UrunDetay], [UrunResmi], [UrunDurum]) VALUES (3, N'Birebir Özel Ders', N'7500', N'Öğrenciye özel birebir ders programı.', N'ozel_ders.jpg', 1)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
